parameters:
    level: 8
    tmpDir: output/cache/phpstan
    paths:
        - src
        - .php-cs-fixer.php
    excludePaths:
        - tests/_support/_generated

    # https://github.com/spaze/phpstan-disallowed-calls

    disallowedNamespaces:
        -
            namespace:
                - Codeception\*
                - PHPUnit\*
            message: 'these are not meant to be accessed'
        -
            namespace:
                - Rocky\SymfonyMessengerReader\Tests\*
            message: 'the test classes dont belong in the package code'

includes:
    - phpstan-all-baseline.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon